.app {
	padding:0px;
	margin:0px;
}

#chessboard, .black_square, .white_square {
	display:block;
	padding:0px;
	margin:0px;
}

#chessboard {
	width:80vmin;
	height:80vmin;
	border:6px solid teal;
}

@media only screen and (max-width: 600px) {
	#chessboard {
		width:96vmin;
		height:96vmin;
		border:6px solid teal;
	}
  }

.black_square, .white_square, .selected_square {
	width:10vmin;
	height:10vmin;
	float:left;
}

@media only screen and (max-width: 600px) {
	.black_square, .white_square, .selected_square {
		width:12vmin;
		height:12vmin;
	}
}

.black_square {
	background-color: teal;
}

.white_square {
	background-color: whitesmoke;
}

.selected_square {
	background-color: #DC9623;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

h3 {
	color : darkslategray;
	font-family: 'Titillium';
}

@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}
}